.card-wrapper {
  width: 260px;
  height: 162px;
  box-shadow: 0px 3px 6px var(--blue-100-alpha);
  border-radius: 5px;
  background: var(--white) 0% 0% no-repeat padding-box;
  padding: 15px;
  position: relative;
}

.job-title {
  font-size: 17px;
  font-weight: 500;
  color: var(--blue-500);
  margin-bottom: 5px;
  width: calc(100%-30px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.job-desc {
  text-align: left;
  letter-spacing: 0px;
  color: var(--blue-500);
  opacity: 0.8;
  font-size: 14px;
  height: 64px;
  width: calc(100%-10px);
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.job-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "location application-btn";
  grid-gap: 10px;
  position: absolute;
  bottom: 15px;
}

.job-location {
  grid-area: location;
  font-size: 14px;
  color: var(--blue-500);
  opacity: 0.8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.location-icon {
  margin-right: 9px;
}

.location-icon > path {
  stroke: var(--blue-200);
}

.job-applicaitons {
  grid-area: application-btn;
  width: 125px;
  height: 32px;
  background: #43afff33 0% 0% no-repeat padding-box;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
}
